.editor-container {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .editor-container button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editor-container button:hover {
    background-color: #45a049;
  }
  

  .ce-block__content {
    max-width: none;
  }